body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.form-input {
  margin-top: 2vw;
}
.checkbox {
  display: inline;
}
.submit {
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 90px;
}

/*table*/
td, th {
  padding-left: 2vw;
}
