<h1>Update Album</h1>

<form action="/albums/{{albums.id}}/edit" method="POST">
  <label for="artist" class="form-input">Artist:</label>
  <input type="text" name="artist" id="artist" value="{{albums.artist}}"/>

  <label for="album_name" class="form-input">Album Name:</label>
  <input type="text" name="album_name" id="album_name" value="{{albums.name}}"/>

  <label for="genre" class="form-input">Genre:</label>
  <select name="genre" id="genre" value="{{albums.genre}}">
    <option value="blues">blues</option>
    <option value="classical">classical</option>
    <option value="country">country</option>
    <option value="edm">EDM/dance</option>
    <option value="funk">funk</option>
    <option value="hip-hop">hip hop</option>
    <option value="indie">indie</option>
    <option value="jazz">jazz</option>
    <option value="pop">pop</option>
    <option value="rock">rock</option>
  </select>

  <label for="stars" class="form-input">Stars: 1-5</label>
  <div id="stars">
    <input type="radio" name="stars" value="1"/>
    <input type="radio" name="stars" value="2"/>
    <input type="radio" name="stars" value="3"/>
    <input type="radio" name="stars" value="4"/>
    <input type="radio" name="stars" value="5"/>
  </div>

  <label for="explicit" class="checkbox form-input">Contains explicit lyrics?</label>
  <div>
    <input type="checkbox" name="explicit" value=true />Yes
    <input type="checkbox" name="explicit" value=false />No
  </div>


  <input type="submit" class="submit" value="Update Album"/>
</form>

<a href="/albums">Cancel</a>
